<!DOCTYPE html>
<meta charset="utf-8">
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

</style>
<body>
  <form id='dataForm'>
  Start Date: 

  <select id="startDate_Hour">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
  </select>

  <select id="startDate_Day">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
</select>

<select id="startDate_Month">
    <option value="01">January</option>
    <option value="02">Febuary</option>
    <option value="03">March</option>
    <option value="04">April</option>
    <option value="05">May</option>
    <option value="06">June</option>
    <option value="07">July</option>
    <option value="08">August</option>
    <option value="09">September</option>
    <option value="10">October</option>
    <option value="11">November</option>
    <option value="12">December</option>
</select>



<select id="startDate_Year">
    <option value="2014">2014</option>
</select>

  </br>
  End Date: 

  <select id="endDate_Hour">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
  </select>

  <select id="endDate_Day">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
</select>

<select id="endDate_Month">
    <option value="01">January</option>
    <option value="02">Febuary</option>
    <option value="03">March</option>
    <option value="04">April</option>
    <option value="05">May</option>
    <option value="06">June</option>
    <option value="07">July</option>
    <option value="08">August</option>
    <option value="09">September</option>
    <option value="10">October</option>
    <option value="11">November</option>
    <option value="12">December</option>
</select>



<select id="endDate_Year">
    <option value="2014">2014</option>
</select>

  </br>
  <input type="submit" value="Submit"> 
  <input type="checkbox" id="csv" value="csv"> get CSV file
  </form>
</body>
<script src="http://d3js.org/d3.v3.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>

function drawGraph(url){

  graph = document.getElementById("graph");
  if(graph) graph.remove();

  var margin = {top: 20, right: 80, bottom: 30, left: 50},
      width = 960 - margin.left - margin.right,
      height = 500 - margin.top - margin.bottom;

  var parseDate = d3.time.format('%Y-%m-%d %H:%M:%S').parse;

  var x = d3.time.scale()
      .range([0, width]);

  var y = d3.scale.linear()
      .range([height, 0]);

  var color = d3.scale.category10();

  var xAxis = d3.svg.axis()
      .scale(x)
      .orient("bottom");

  var yAxis = d3.svg.axis()
      .scale(y)
      .orient("left");

  var line = d3.svg.line()
      .interpolate("basis")
      .x(function(d) { return x(d.date); })
      .y(function(d) { return y(d.temperature); });

  var svg = d3.select("body").append("svg").attr('id', 'graph')
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  

  d3.json(url, function(data) {
    sensors = data.sensors
    color.domain(d3.keys(sensors));

    for(var sensorIndex in sensors){
      for(var d in sensors[sensorIndex].values){

        sensors[sensorIndex].values[d].date = parseDate(sensors[sensorIndex].values[d].date);
      }
    }

    x.domain(d3.extent(sensors, function(d) {
     return d.date; 
   }));

    x.domain([
      d3.min(sensors, function(c) { return d3.min(c.values, function(v) { return v.date; }); }),
      d3.max(sensors, function(c) { return d3.max(c.values, function(v) { return v.date; }); })
    ]);

    y.domain([
      d3.min(sensors, function(c) { return d3.min(c.values, function(v) { return v.temperature; }); }),
      d3.max(sensors, function(c) { return d3.max(c.values, function(v) { return v.temperature; }); })
    ]);

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
      .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("Temperature (ºC)");

    var sensor = svg.selectAll(".sensor")
        .data(sensors)
      .enter().append("g")
        .attr("class", "sensor");

    sensor.append("path")
        .attr("class", "line")
        .attr("d", function(d) { return line(d.values); })
        .style("stroke", function(d) { return color(d.name); });

    sensor.append("text")
        .datum(function(d) { return {name: d.name, value: d.values[d.values.length - 1]}; })
        .attr("transform", function(d) { 
          return "translate(" + x(d.value.date) + "," + y(d.value.temperature) + ")"; 
        })
        .attr("x", 3)
        .attr("dy", ".35em")
        .text(function(d) { return d.name; });
  });

}


function displayData(e) {
    if (e.preventDefault) e.preventDefault();

    startHour = document.getElementById("startDate_Hour").value
    startDay = document.getElementById("startDate_Day").value
    startMonth = document.getElementById("startDate_Month").value
    startYear = document.getElementById("startDate_Year").value

    endHour = document.getElementById("endDate_Hour").value
    endDay = document.getElementById("endDate_Day").value
    endMonth = document.getElementById("endDate_Month").value
    endYear = document.getElementById("endDate_Year").value

    startDate = startYear+'-'+startMonth+'-'+startDay+' '+startHour+':0:0'
    endDate = endYear+'-'+endMonth+'-'+endDay+' '+endHour+':0:0'

    devices = [];
    elems = document.getElementById('deviceList').children
    for(var i in elems){
      if(elems[i].tagName == 'INPUT' && elems[i].checked){
        devices.push(elems[i].value)
      }
    }

    var url='http://localhost:8000/temperatures/?';
    if(startDate){
      url = url+'startDate='+startDate+'&';
    }
    if(endDate){
      url = url + 'endDate='+endDate+'&';
    }
    if(devices){
      for(var i in devices){
        url = url + 'sensors='+devices[i]+'&';
      }
    }

    

    csv = document.getElementById("csv").checked
    if(csv){
      csvUrl = url+'output=csv';
      window.location = csvUrl;
      // $.ajax({
      //   url: csvUrl,
      //   type: 'GET',
      //   success: function() {
      //       window.location = csvUrl;
      //   }
      // });
    }else{
      drawGraph(url)
    }

    return false;
}

function populateDeviceList() {
  d3.json('http://localhost:8000/temperatures/list', function(data) {
    sensors = data.sensors;
    div = document.createElement('div')
    div.setAttribute('id','deviceList')
    deviceList = document.getElementById('dataForm').appendChild(div);
    for(var i in sensors){
      deviceList.innerHTML = deviceList.innerHTML + '<br><input type="checkbox" name="device" value="'+sensors[i].id+'">'+sensors[i].name;
    }
  });
}

populateDeviceList(); 

var form = document.getElementById('dataForm');
if (form.attachEvent) {
    form.attachEvent("submit", displayData);
} else {
    form.addEventListener("submit", displayData);
}

//drawGraph()




</script>