<!DOCTYPE html>
<meta charset="utf-8">
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

</style>
<body>
  <form id='dateForm'>
  Start Date: <input type="text" name="startDate" id="startDate"><br>
  End Date: <input type="text" name="endDate" id="endDate"><br>
  <input type="submit" value="Submit"> 
  </form>
</body>
<script src="http://d3js.org/d3.v3.js"></script>
<script>

function drawGraph(startDate, endDate){

  graph = document.getElementById("graph");
  if(graph) graph.remove();

  var margin = {top: 20, right: 80, bottom: 30, left: 50},
      width = 960 - margin.left - margin.right,
      height = 500 - margin.top - margin.bottom;

  var parseDate = d3.time.format('%Y-%m-%d %H:%M:%S').parse;

  var x = d3.time.scale()
      .range([0, width]);

  var y = d3.scale.linear()
      .range([height, 0]);

  var color = d3.scale.category10();

  var xAxis = d3.svg.axis()
      .scale(x)
      .orient("bottom");

  var yAxis = d3.svg.axis()
      .scale(y)
      .orient("left");

  var line = d3.svg.line()
      .interpolate("basis")
      .x(function(d) { return x(d.date); })
      .y(function(d) { return y(d.temperature); });

  var svg = d3.select("body").append("svg").attr('id', 'graph')
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  var url='http://localhost:8000/temperatures/?startDate='+startDate+'&endDate='+endDate;
  //var url='http://localhost:8000/temperatures/';

  d3.json(url, function(data) {
    sensors = data.sensors
    color.domain(d3.keys(sensors));

    for(var sensorIndex in sensors){
      for(var d in sensors[sensorIndex].values){

        sensors[sensorIndex].values[d].date = parseDate(sensors[sensorIndex].values[d].date);
      }
    }

    // data.forEach(function(sensor) {

    //   sensor.forEach(function(d) {
    //     d.date = parseDate(d.date);
    //   });
      
    // });

    // var cities = color.domain().map(function(name) {
    //   return {
    //     name: name,
    //     values: data.map(function(d) {
    //       return {date: d.date, temperature: +d[name]};
    //     })
    //   };
    // });

    x.domain(d3.extent(sensors, function(d) {
     return d.date; 
   }));

    x.domain([
      d3.min(sensors, function(c) { return d3.min(c.values, function(v) { return v.date; }); }),
      d3.max(sensors, function(c) { return d3.max(c.values, function(v) { return v.date; }); })
    ]);

    y.domain([
      d3.min(sensors, function(c) { return d3.min(c.values, function(v) { return v.temperature; }); }),
      d3.max(sensors, function(c) { return d3.max(c.values, function(v) { return v.temperature; }); })
    ]);

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
      .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("Temperature (ºF)");

    var sensor = svg.selectAll(".sensor")
        .data(sensors)
      .enter().append("g")
        .attr("class", "sensor");

    sensor.append("path")
        .attr("class", "line")
        .attr("d", function(d) { return line(d.values); })
        .style("stroke", function(d) { return color(d.name); });

    sensor.append("text")
        .datum(function(d) { return {name: d.name, value: d.values[d.values.length - 1]}; })
        .attr("transform", function(d) { return "translate(" + x(d.value.date) + "," + y(d.value.temperature) + ")"; })
        .attr("x", 3)
        .attr("dy", ".35em")
        .text(function(d) { return d.name; });
  });

}


function processForm(e) {
    if (e.preventDefault) e.preventDefault();

    /* do what you want with the form */
    startDate = document.getElementById("startDate").value
    endDate = document.getElementById("endDate").value
    drawGraph(startDate, endDate)

    // You must return false to prevent the default form behavior
    return false;
}

var form = document.getElementById('dateForm');
if (form.attachEvent) {
    form.attachEvent("submit", processForm);
} else {
    form.addEventListener("submit", processForm);
}




</script>