{% extends "graphs/base.html" %}
{% load staticfiles %}

{% block head %}
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Watchers</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Select sensors
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="col-lg-4">
                                <div class="input-group">
                                    Start Date: 
                                    <div class="form-group">
                                        <div class='input-group date' id='startDate'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group">
                                    End Date: 
                                    <div class="form-group">
                                        <div class='input-group date' id='endDate'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="input-group">
                                    <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
                                    <button type="submit" class="btn" id="csv-btn" style="margin-left: 20px;">Download CSV</button>
                                </div>  
                            </div>
                            <div id="sensor-select">
                                
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Line Chart Example
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart"></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
                <!-- <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Line Chart Example
                        </div>
                        <div class="panel-body">
                            <div id="morris-line-chart"></div>
                        </div>
                    </div>
                </div>-->
                <!-- /.col-lg-6 -->

            </div>
            <!-- /.row -->

{% endblock content %}
{% block scripts %}


    <!-- Page-Level Plugin Scripts - Flot -->
    <!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
    <script src="{% static 'js/plugins/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'js/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'js/plugins/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'js/plugins/flot/jquery.flot.pie.js' %}"></script>

    <!-- Page-Level Plugin Scripts - Morris -->
    <script src="{% static 'js/plugins/morris/raphael-2.1.0.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris.js' %}"></script>

    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>

    <script type="text/javascript">
        $(function () {
            $('#startDate').datetimepicker();
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('#endDate').datetimepicker();
        });
    </script>


    <script type="text/javascript">
    $(document).ready(function() {

        function drawMorris(url){
            $.getJSON(url+'output=morris', function(data){
                elements = data.mElements;
                sensors = [];
                for(var k in elements[0]){
                    if(k!='date') sensors.push(k);
                } 
                
                Morris.Line({
                    element: 'morris-line-chart',
                    data: elements,
                    xkey: 'date',
                    ykeys: sensors,
                    labels: sensors,
                    hideHover: 'auto',
                    pointSize: 0,
                    resize: true
                });
            });
        }

        function drawFlot(url){

            $.getJSON(url+'output=flot', function(data){
                sensors = data.sensors;

                var options = {
                    series: {
                        lines: {
                            show: true
                        },
                        points: {
                            show: false
                        }
                    },
                    grid: {
                        hoverable: true //IMPORTANT! this is needed for tooltip to work
                    },
                    xaxis: {
                        mode: "time",
                        timeformat: "%H:%M:%S"
                    },
                    tooltip: true,
                    tooltipOpts: {
                        content: "'%s' of %x.1 is %y.4",
                        shifts: {
                            x: -60,
                            y: 25
                        }
                    }
                };

                var toPlot = []

                for(var i in sensors){
                    toPlot.push({data: sensors[i].values, label: sensors[i].name});
                }

                var plotObj = $.plot($("#flot-line-chart"), toPlot,options);

            });
            
        }

        function populateDeviceList() {
          $.getJSON('http://localhost:8000/temperatures/list', function(data) {
            sensors = data.sensors;
            if (sensors.length < 7) {
                $('#sensor-select').append('<div class="col-lg-8"></div');
            }
            if(sensors.length > 6 && sensors.length < 13){
                $('#sensor-select').append('<div class="col-lg-4"></div');
            }

            var column = $('#sensor-select > div')
            for(var i in sensors){
                if(i==6) column = $('#sensor-select').append('<div class="col-lg-4"></div');
                column.append('<br><input type="checkbox" name="device" value="'+sensors[i].id+'" checked>'+sensors[i].name);
            }
          });
        }

        populateDeviceList(); 

        function getUrl() {
            var url='http://localhost:8000/temperatures/?';
            var devices = [];
            $('#sensor-select input[type="checkbox"]').each(function(){
                if(this.checked) devices.push($(this).attr('value'));
            });

            var startDate = $('#startDate').data("DateTimePicker").getDate() / 1000;
            var endDate = $('#endDate').data("DateTimePicker").getDate() / 1000;
            
            if(startDate){
              url = url+'startDate='+startDate+'&';
            }
            if(endDate){
              url = url + 'endDate='+endDate+'&';
            }
            if(devices){
              for(var i in devices){
                url = url + 'sensors='+devices[i]+'&';
              }
            }
            return url;
        }

        $("#submit-btn").click(function () {
            drawFlot(getUrl());
        });

        $("#csv-btn").click(function () {
            window.location = getUrl()+'output=csv';
        });

        dataUrl = 'http://localhost:8000/temperatures/?';
        drawFlot(dataUrl);
        //drawMorris(dataUrl);
    });
    </script>
    
{% endblock scripts %}

</body>

</html>
